<template name = "segment">
    <div class="ui segment">
        <h3 class="ui header" >VIMUKTHI WEERASIRI</h3>
        <div class="ui statistics">
            <div class="red statistic">
                <div class="value">
                    27%
                </div>
                <div class="label">
                    Bad
                </div>
            </div>
            <div class="yellow statistic">
                <div class="value">
                    28%
                </div>
                <div class="label">
                    Neutral
                </div>
            </div>
            <div class="green statistic">
                <div class="value">
                    67%
                </div>
                <div class="label">
                    Good
                </div>
            </div>
       </div>
    </div>
</template>